@media only screen and (min-width:900px) and (max-width:1025px){

    body{
        margin: 0;
        padding: 0;
    }
    .navbar{
        padding: 0 2% 0 3%;
    }
    .nav-mainlinks{
        padding: 24px 15px;
    }


.casestudies{
    height: 650px;
    padding: 50px 80px 30px ;
}
.casestudies-heading{
    width: 70%;
}
.casestudies-heading h2{
    font-size: 17px;
}
.casestudies-heading h1{
    font-size: 22px;
}
.casestudies-content{
    top: 310px;
    width: 40%;
    font-size: 14px;
}
.casestudies-content p{
    margin-bottom: 50px;
}

  .casestudies-content ul{
      line-height: 1.2;

  }
  .casestudies-content li{
      margin-top:10px;
      margin-bottom: 10px;
      float: left;
      width: 95%;
  } 
.bullet{
    margin-top: 12px;
}
  .casestudies-img{
    bottom: 0;
    right: 70px;
    height: 540px;
    width: 400px;
}
.casestudies-image{
    width: 290px;
    height: 550px;
    bottom: 60px;
    right: 120px;

}


.services{
    height: 110vh;
    padding: 5% 5% 5% 13%;
}
.services h1{
    color: #fdab4f;
    width: 470px;
}

.domainsweworked{
    padding: 2% 21% 2%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.domains button{
    width: 190px;
    margin: 50px 40% 150px;
    padding: 10px 40px;
}



.Featuredprojects{
    padding: 3% 0% 2% 10%;
    background-color: #f9f9f9;
}
.frankproject{
    right: -3px;
}
.frankProjectHead img{
    width: 530px;
}
.frankproject h2{
    margin-bottom: 20px;
    font-family: "sailec-regular";
}
.frankproject p{
    letter-spacing: -1px;
}
.prohead{
    font-size: 13px;
    top: 44px;
    right: 110px;
}
.frankproject .projectimg{
    top: 90px;
    left: -30px;
    width: 204px;
}
.skymdproject{
    left: -106px;
}
.skymdproject .prohead{
    font-size: 14px;
    top: 34px;
    left: 290px;
}
.skymdproject p{
    width: 80%;
    letter-spacing: -1px;
    font-family: "sailec-bold";
}
.skymdproject h2{
    font-size: 14px;
    font-family: "sailec-regular";
}
.skymdproject ul{
    width: 83%;
    font-size: 14px;
}

.skymdproject .projectimg{
    position: absolute;
    top: 90px;
    right: -30px;
    width: 200px;
}

.skymdProjectHead{
    margin-left: -20px;
}

.skymdDetail{
    margin-left: -20px;
}
.skymdProjectContent{
    margin-left: -20px;
}
.allprojects{
    width: 80vw;
    height: 230px;
    display: block;
    text-align: center;
    margin-left: 0.8vw;
}
.allprojects p{
    margin-left: 0px;
    letter-spacing: -1px;
}
.allprojects button{
    margin-top: 15px;
    margin-right: 0px;
    font-size: 18px;
    font-family: "sailec-bold";
    color: #fff;
    background-color: black;
    padding: 10px 40px;
    height: 50px;
    border: none;
}
}



@media only screen and (max-width:800px){
    body{
        overflow-x: hidden;
    }

    .Featuredprojects{
        background-color: #fff;
        padding: 0;
        height: 1830px;
    }
    .Featuredprojects h1{
        font-size: 23px;
        margin: 65px 0 -40px 65px;
    }
.frankDetail{
    margin: -10px 0 0;
}
    .frankproject{
        width: 100vw;
        height: 640px;
        left: -10px;
        padding: 30px 0 0;
        text-align: center;
    }
    .skymdproject{
        width: 100vw;
        height: 680px;
        left: -10px;
        padding: 30px 0 0;
        text-align: center;
    }
    .skymdproject p{
        font-size: 25px;
        width: 100%;
        padding: 0px 20px;
    }
    .prohead{
        display: none;
    }
    .frankproject .projectimg{
        top: 195px;
        left: 36vw;
        width: 204px;
    }
    .skymdproject .projectimg{
        top: 225px;
        left: 36vw;
        width: 204px;
    }
    .frankProjectHead img{
        width: 530px;
    }
    .frankProjectContent{
        width: 100vw;
        height: 270px;
        padding: 30px;
        position: relative;
        top: 340px;
        color: #000;
        background-color: #f9f9f9;
    }
    .skymdProjectContent{
        width: 100vw;
        height: 300px;
        padding: 30px;
        position: relative;
        top: 310px;
        color: #000;
        background-color: #f9f9f9;
    }
    .frankproject h2{
        font-size: 12px;
        font-family: "sailec-regular";
    }
    .frankproject ul{
        padding-left: 195px;
        font-size: 11px;
    }
    .bullet1{
        color: #fdab4f;
    }


    .navbar{
        padding: 0 1% 0 2%;
        position: sticky;
        width: 100%;
        box-shadow: 0 12px 8px -6px rgb(240, 240, 240);
    }

    .nav-links{
        display: none;

    }
    .mediaicon{
        display: block;
        width: 32px;
        height: 30px;
    }


    .brand img{
        width: 60px;
        margin-top: 10px;
    }
    .homepage{
        height:400px;
        background-size:320%;
        width: 100%;
        padding-top: 65px;
   }
    .homepage h1{
        font-size: 25px;
        line-height: 0.7;
    } 
    hr{
        width: 480px;
        margin-top: -10px;
        margin-bottom: -5px;
    }
    .homepage button{
        margin-top:55px;
        font-size: 17px;
    } 


 .casestudies{
    height: 740px;
    padding: 50px 50px 30px ;
}
.casestudies-heading{
    width: 70%;
}
.casestudies-heading h2{
    font-size: 17px;
}
.casestudies-heading h1{
    font-size: 22px;
}
.casestudies-content{
    top: 310px;
    width: 43%;
    font-size: 14px;
}
.casestudies-content p{
    margin-bottom: 30px;
    line-height: 1.8;
    text-align: justify;
}

  .casestudies-content ul{
      line-height: 1.2;

  }
  .casestudies-content li{
      margin-top:10px;
      margin-bottom: 16px;
      float: left;
      width: 90%;
  } 
.bullet{
    margin-top: 12px;
}
  .casestudies-img{
    bottom: 0;

    right: 40px;
    height: 540px;
    width: 290px;
}
.casestudies-image{
    width: 290px;
    height: 600px;
    bottom: 60px;
    right: 40px;
}



.services{
    height: 51vh;
    text-align: center;
}
.service-content{
    background-color: #000;
    height: 400px;
}
.services h1{
    width: 260px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    position: static;
}

.listofservices{
    float: none;
    text-align: left;
    margin-right:46%;
    margin-left: 4%;
    padding-top: 40px;
    font-size: 12px;
}

.listofservices hr{
    margin-top: 0px;
    margin-bottom:30px;
    visibility: hidden;
}
.listofservices p{
    display: inline;
    margin-left:10px;
}
.listofservices img{
    display: inline;
    width: 23px;
    margin-bottom:-8px ;
}
.rightarrow1{
    float: right;
    padding:3px;
    margin: 0px 0 16px 16px;
}
.domains{
    height: 1000px;
}
.domainsweworked{
    padding: 2% 21% 2%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
}
/* #domain1,#domain2,#domain3,#domain4{
    border-top:none; 
} */
#domain5{
    border-left: 0.5px solid rgba(229,231,235,0.5); 
}
#domain8,#domain16{
    border-right:0.5px solid rgba(229,231,235,0.5); 
}
#domain14,#domain15{
    border-bottom:0.5px solid rgba(229,231,235,0.5); 
}
  #domain4,#domain7,#domain10,#domain16{
    border-left:none; 
}  
#domain3,#domain6,#domain9,#domain15{
    border-right:none; 
}  
.domainsweworked div{
    padding-top:10px;
    padding-bottom: 15px;
}
.domains button{
    padding: 12px 55px;
    border: none;
    width: 240px;
    margin: 40px 34% -100px;
}


}


@media only screen  and (max-width:600px){

.brand img{
    width: 40px;
    margin-top: 0px;
    margin-left: -10px;
}
body{
    width: 100vw;
}
.mediaicon{
margin-right: 80px;
margin-top: 10px;
width: 25px;
height: 25px;
}
.navbar{
    padding: 0 1% 0 3.5%;
    height: 45px;
    width: 100vw;
}

.homepage{
    height:310px;
    margin-left: -7px;
    background-size:250%;
    width: 100vw;
    padding-top: 20px;
}
 .homepage h1{
    font-size: 16px;
    line-height: 1.7;
}
.homepage h1:first-child{
    width: 76%;
    padding: 0 10% 0 10%;
}
.ideainmind{
    margin-left: -80px;
}
.webuildMobApp{
    width: 70%;
    padding-left: 7%;
    margin-top: -12px;
}

hr{
    width: 220px;
    margin-left: 30px;
}
.homepage button{
    margin-top:45px;
    padding:8px 30px;
    margin-left:-25% ;
    font-size: 13px;
}


.casestudies{
    height: 1050px;
    width: 100vw;
    background-color: #fff;
    padding: 50px 0px 30px ;
}

.casestudies-heading{
    width: 100%;
    text-align: center;
}
.casestudies-heading h2{
    font-size: 12px;
    font-family: "sailec-medium";
    font-weight: 500;
}
.casestudies-heading h1{
    font-size: 22px;
    width: 90%;
    margin-top: 0px;
padding-left: 30px;
}
.casestudies-content{
    top: 660px;
    text-align: center;
    width: 100%;
    background-color: rgb(249, 249, 249);
    font-size: 14px;
    padding-bottom: 50px;
}
.casestudies-content p{
    margin-bottom: 30px;
    line-height: 1.8;
    text-align: center;
    padding-top: 20px;
    margin-left: 5%;
    width: 83%;
}

  .casestudies-content ul{
      line-height: 1.2;
        font-size: 12px;
        width: 98%;
        padding-left: 30px;
  }
  .casestudies-content li{
      margin-top:10px;
      text-align: left;
      margin-bottom: 16px;
      float: left;
      width: 88%;
  } 
.bullet{
    margin-top: 12px;
}
  .casestudies-img{
    display: none;
}
.casestudies-image{
    width: 210px;
    height: 420px;
    top: 350px;
 
    right: 80px;
}

.services{
    height: 540px;
    padding: 90px 50px;
    width: 100vw;
}
.service-content h1{
    font-size: 23px;
}
.listofservices{
    margin-right:0;
    margin-left: 4%;
    font-size: 12px;
}
.listofservices p{
    font-size: 13px;
    font-family: "sailec-bold";
}
.listofservices img{
    width: 28px;
    margin-bottom:-8px ;
}
.rightarrow1{
    float: right;
    padding:3px;
    margin: 10px 0 16px 16px;
}
.domainsweworked{
    padding: 8% 3% 2%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}
.domains h1{
    width: 60%;
    margin-left: 20%;
}

#domain3,#domain4{
    border-top:0.5px solid rgba(229,231,235,0.5); 
}
#domain13,#domain14{
    border-bottom:0.5px solid rgba(229,231,235,0.5); 
}
#domain4,#domain7,#domain10,#domain16{
    border-left:0.5px solid rgba(229,231,235,0.5); 
}  
#domain3,#domain9,#domain15{
    border-right:0.5px solid rgba(229,231,235,0.5); 
} 
#domain15{
    border-bottom: none;
}
#domain3,#domain5,#domain7,#domain11,#domain15{
    border-left: none;
}
#domain2,#domain8,#domain10,#domain14,#domain16{
    border-right: none;
}
.domains button{
    padding: 10px 35px;
    margin: 50px 20% 80px;
}
}